@import url("reset.css");


.wrapper {
	min-height: 100%;
	overflow: clip;

	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
	color: #daa520;
	font-size: 30px;
	font-weight: bold;

	background-color: darkgreen;
}

.header__link {
	position: absolute;
	left: 2%;
	top: 2%;
	text-decoration: underline;
}
.main {
	padding: 80px 15px;
	border: 2px solid #daa520;
}
.objects {
	padding: 15px;
	border: 2px solid #daa520;
}
.object {
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: #daa520;
	margin: 30px;
	background-image: url('/img/1.svg');
	transition: all 0.5s;
}
.objects__object-1:hover {
	transform: translateX(20px);
}

.objects__object-2:hover {
	transform: translateY(20px);
}
.objects__object-3:hover {
	transform: translateX(-20px);
}
.objects__object-4:hover {
	transform: translateY(-20px);
}
.objects__object-5:hover {
	transform: scale(0.5);
}
.objects__object-6:hover {
	transform: scale(2);
}
.objects__object-7:hover {
	transform: scale(0.5,2);
}
.objects__object-8:hover {
	transform: scale(-1, 1);
}
.objects__object-9:hover {
	transform: rotate(45deg);
}
.objects__object-10:hover {
	transform: rotate(-45deg);
}
.objects__object-11:hover {
	transform: skewX(45deg);
}
.objects__object-12:hover {
	transform: skewY(-45deg);
}
.objects__object-13:hover {
	transform: translate(45px, 45px) scale(2) rotate(-45deg) skew(-45deg);
}
.objects__object-14:hover {
	transform: rotate(-50deg);
	transform-origin: 10px 10px;
}
.objects__object-15:hover {
	perspective: 100px;
	transform: rotateX(80deg);
	perspective-origin: center;
}
.objects__object-16:hover {
	transform-style: flat;
	transform-style: preserve-3d;
	transform: rotateY(70deg);
}
.objects__object-17:hover {
	transform: rotateY(360deg);
}












