@import url("reset.css");
@import url("style.css");

/* Шрифт для хедера */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
/* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* font-family: 'Poppins', sans-serif; */





.consulting {
	display: flex;
	justify-content: center;

	max-height: 741px;
}
.consulting-containeer {
	margin: 100px 0;
}
.consulting__info {
	flex-basis: 55%;
	background-color: #37393F;
	padding-right: 92px;

	display: flex;
	justify-content:flex-end;
	align-items: center;
}
.consulting__article {
	background-color: #37393F;
	max-width: 610px;

	color: #FFF;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 146.187%;
}
.consulting__subtitle {
	text-transform: capitalize;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 13px;
	padding-left: 18px;

	position: relative;
}
.consulting__subtitle::before {
	content: '';
	display: inline-block;
	width: 12px;
	height: 12px;
	background: #40DDB6;
	position: absolute;
	left: 0;
	top: 25%;
}
.consulting__title {
	text-transform: capitalize;
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 121%;

	max-width: 370px;

	margin-bottom: 13px;
}
.consulting__text {
	max-width: 572px;
	margin-bottom: 36px;
}
.consulting__box {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}
.consulting__graphic {
	background-color: #2E2F34;
	padding: 41px 30px 41px 121px;
	margin-bottom: 36px;

	background-image: url('../img/consulting/95.svg');
	background-repeat: no-repeat;
	background-position: 10% 50%;
}
.consulting__graphic--mod {
	background-image: url('../img/consulting/85.svg');
}
.consulting__name {
	font-size: 16px;
	line-height: 135.187%;

	margin-bottom: 1px;
}
.consulting__type {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	line-height: normal;
}
.consulting__details {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	line-height: normal;
}
.consulting__details:not(:last-child) {
	margin-bottom: 23px;
}
.consulting__details--icon {
	padding-left: 35px;
	background-image: url('../img/consulting/done.svg');
	background-repeat: no-repeat;
	background-position: 0 50%;
}
.consulting__number {
	font-weight: 700;
}
.consulting__rating {
	color: #FFB342;
}
.consulting__star {
	background-image: url('../img/consulting/star.svg');
	background-repeat: no-repeat;
	display: inline-block;
	width: 17px;
	height: 17px;
	margin: 0px 3px;
	position: relative;
	top: 3px;
}
.consulting__get {
	color: #40DDB6;
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	line-height: normal;
	text-transform: capitalize;
	text-decoration: underline;
}
.consulting__get:hover {
	color: #FFB342;
}
.consulting__imagebox {
	background-color: #37393F;
}
.consulting__img {
	width: 100%;
	height: 100%;
	aspect-ratio: 872 / 741;
	object-fit: cover;
}

/* ______________________АДАПТИВ___________________________ */
@media (min-width: 1265px) and (max-width: 1499px) {
	.consulting__info {
		padding: 15px;
		display: flex;
		justify-content: center;
	}
 }

 @media (min-width: 320px) and (max-width: 1265px) {
	.consulting__containeer {
		margin: 20px 0;
	}
	.consulting {
		flex-wrap: wrap;
		max-height: none;
	}
	.consulting__title {
		max-width: none;
	}
	.consulting__imagebox {
		order: 1;
	}
	.consulting__info {
		flex-basis: 100%;
		justify-content: center;
		padding: 15px;
		order: 2;
	}
	.consulting__article {
		padding: 0 15px;
	}
	.consulting__box {
		flex-wrap: nowrap;
	}
	.consulting__imagebox {
		flex-basis: 100%;
		max-height: 458px;
	}
 }

@media (max-width: 617px) {
	.consulting__subtitle {
		margin-bottom: 8px;
	}
	.consulting__title {
		font-size: 20px;
		margin-bottom: 8px;
		max-width: none;
	}
	.consulting__text {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.consulting__box {
		flex-wrap: wrap;
	}
	.consulting__graphic {
		min-width: 300px;
		margin-bottom: 15px;
	}
	.consulting__number {
		font-size: 16px;
	}
	.consulting__active {
		font-size: 16px;
	}
	.consulting__details:not(:last-child) {
		margin-bottom: 10px;
	}
}

 @media (min-width: 320px) {
	.consulting__info {
		padding: 15px 5px;
	}
	.consulting__box {
		justify-content: center;
		align-items: center;
	}
}