@import url("reset.css");

/* Шрифт для хедера */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


.header {
	font-family: 'Roboto', sans-serif;
	padding: 20px 15px;
}
.header__menu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}
.header__link {
	border: 2px solid transparent;
	border-radius: 15px;
	padding: 10px 15px;
	color: #585858;
}
.header__link:hover {
	color: #000;
	border-color: #000;
}
.header__link:active {
	position: relative;
	top: 2px;
	border-color: #585858;
	color: #585858;
}




