@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@font-face {
	font-family: 'Causten';
	src: 
	url('../fonts/Causten-Regular.woff2') format('woff2'),	
	url('../fonts/Causten-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Causten';
	src: 
	url('../fonts/Causten-Bold.woff2') format('woff2'),	
	url('../fonts/Causten-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Core Sans C';
	src: 
	url('../fonts/CoreSansC-55Medium.woff2') format('woff2'),	
	url('../fonts/CoreSansC-55Medium.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

.body {
	background-color: #F6F6F6;
	max-width: 1440px;
	font-family: 'Causten', sans-serif;
	color: #807D7E;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	line-height: 33.5px;
	letter-spacing: 0.4px;

	max-width: 1920px;
	margin: 0 auto;
}
.header {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	display: block;
	border: 1px solid goldenrod;
	background-color: darkgreen;
	margin-bottom: 100px;
}
.header__menu {
	padding: 20px 0px 20px 0px;
	text-align: center;
}
.header__menu_list {
	display: inline-block;
}
.header__menu_item {
	text-transform: capitalize;
	padding: 20px 20px;
	display: inline-block;
	color: goldenrod;
	font-size: 20px;
}
.header__menu_item:hover {
	text-decoration: underline;
	color: rgb(243, 255, 20);
}
/* -----------------------------main---------------------------- */
.main {
	padding-bottom: 100px;
}
.clothing {
	max-width: 1300px;
	padding: 0 30px;
	margin: 0px auto;
}
.clothing__title {
	color: #3C4242;
	font-family: 'Core Sans C', sans-serif;
	font-size: 28px;
	font-weight: 600;
	
	position: relative;
	z-index: 2;
	margin-bottom: 30px;
}
.clothing__title::before {
	content: "";
	position: absolute;
	top: 0;
	left: -30px;
	width: 6px;
	height: 100%;
	background-color: #8A33FD;
	z-index: 1;
	margin-left: 15px;
	border-radius: 10px;
}
.clothing__sub-title {
	font-family: 'Core Sans C', sans-serif;
	font-weight: 600;
	line-height: 33.5px;
	letter-spacing: 0.4px;
	margin-bottom: 25px;
}

.clothing__text-box {
	margin-bottom: 25px;
}
.clothing__text-box_par {
	margin-bottom: 20px;
}
.span-bold {
	font-weight: 700;
}

.link:hover {
	text-decoration: underline;
	color: black;
}