@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&display=swap');




.body {
	max-width: 1920px;
	margin: 0 auto;
	background-color: #FFFFFF;
}
.header {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	display: block;
	border: 1px solid goldenrod;
	background-color: darkgreen;
}
.header__menu {
	padding: 20px 0px 20px 0px;
	text-align: center;
}
.header__menu_list {
	
	display: inline-block;
}
.header__menu_item {
	text-transform: capitalize;
	padding: 20px 20px;
	display: inline-block;
	color: goldenrod;
	font-size: 20px;
}
.header__menu_item:hover {
	text-decoration: underline;
	color: rgb(243, 255, 20);
}
/* -------------------main--------------------------- */
.main {
	font-family: 'Cormorant Infant', serif;
	color: #606060;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
	margin-top: 100px;
}
.jewels {
	max-width: 1103px;
	height: 519px;
	margin: 0 auto;
	display: flex;
	margin-bottom: 100px;
}
.jewels__texts {
	padding-top: 70px;
	max-width: 503px;
}
.jewels__texts_sub-title {
	color: #D58417;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 100%;
	margin-bottom: 27px;
}
.jewels__texts_title {
	color: #000;
	font-size: 64px;
	line-height: 100%;
	margin-bottom: 31px;
}
.jewels__texts_box {
	font-size: 30px;
}
.jewels__images {
	display: flex;
	gap: 20px;
	margin-left: 75px;
}
.jewels__images_box1 {
	width: 177px;
	height: 336px;
	border-radius: 235px;
	border: 1px solid #502203;
	margin-top: 85px;
}
.jewels__images_box2 {
	width: 307px;
	height: 500px;
	border-radius: 235px;
	border: 1px solid #502203;
}
.img1 {
	margin-top: 14px;
	margin-left: -10px;
}
.img2 {
	margin-top: 19px;
	margin-left: -11px;
}

.footer__title {
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
	font-weight: 700;
	font-family: 'Cormorant Infant', serif;
}








