@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.body {
	max-width: 1920px;
	margin: 0 auto;
	background-color: darkgreen;

}
.header {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	display: block;
	border: 1px solid goldenrod;
}
.header__menu {
	padding: 20px 0px 20px 0px;
	text-align: center;
}
.header__menu_list {
	
	display: inline-block;
}
.header__menu_item {
	text-transform: capitalize;
	padding: 20px 20px;
	display: inline-block;
	color: goldenrod;
	font-size: 20px;
}
.header__menu_item:hover {
	text-decoration: underline;
	color: rgb(243, 255, 20);
}